.job-applications-container {
  padding: 20px;
}

.top-red-block {
  display: flex;
  justify-content: space-between;
  background-color: #f44336;
  padding: 10px;
}

.yspa-logo {
  width: 50px;
}

.yspa-text h6 {
  margin: 0;
  color: white;
}

h2 {
  margin-top: 20px;
  color: #333;
}

.back-button {
  background: linear-gradient(135deg, #d71920, #132577);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.job-application {
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.action-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.accepted-status {
  color: green;
  font-weight: bold;
}

button:hover {
  background-color: #ddd;
}