.top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #d71920, #132577);
    padding: 10px;
    border-radius: 8px 8px 0 0;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

.logo-img {
    height: 60px;
    border-radius:50px ;
    margin: 20px;
}

.header-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.header-subtitle {
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    
}

.form-layout {
    width: 100%;
    max-width: 550px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-heading {
    text-align: center;
    margin-bottom: 1rem;
}

.form-layout input[type="text"],
.form-layout input[type="email"],
.form-layout input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.submit-btn {
    background: linear-gradient(135deg, #d71920, #132577);
}


